
@{
    ViewBag.Title = "کاربران";
    Layout = "~/Areas/admin/Views/Shared/_master.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                کاربران
                <small>لیست کاربران</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/admin/panel/داشبورد">داشبورد</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> لیست کاربران
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="list-group">
                <a class="list-group-item active">
                    <div class="row hidden-xs">
                        <div class="col-sm-3">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3 class="panel-title">نام</h3>
                        </div>
                        <div class="col-sm-3">
                            <h3 class="panel-title">شماره تماس</h3>
                        </div>
                        <div class="col-sm-3">
                            <h3 class="panel-title">تاریخ ثبت نام</h3>
                        </div>
                    </div>
                    <h3 class="panel-title visible-xs active">لیست کاربران</h3>
                </a>
                <div id="lst">

                </div>

            </div>
            <ul id="paging" class="pagination pagination-sm mt-0">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>

</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="modal-loader">جزییات کاربر</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label></label>
                            <img src="" alt="عکس کاربر" style="width:100px;height:100px;" id="modal-img"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>نام‌</label>
                            <input class="form-control" id="modal-txtfullname">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس</label>
                            <input class="form-control" maxlength="11" id="modal-txtmobile">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>تاریخ ثبت نام</label>
                            <input readonly class="form-control" id="modal-txtregisterdate"
                                   data-mddatetimepicker="true"
                                   data-trigger="click"
                                   data-targetselector="#modal-txtregisterdate"
                                   data-enabletimepicker="false"
                                   data-placement="bottom">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span id="modal-msg"></span>
                <button  type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
            </div>
        </div>

    </div>
</div>

@section js
{
    <script src="~/Areas/admin/pages/userList/ajax.js"></script>
    <script src="~/Areas/admin/pages/userList/js.js"></script>
}
